<nav class="navbar navbar-expand-lg  new-bg navbar-dark" style="padding:6px 8px !important">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container" class="collapse navbar-collapse" id="navbarTogglerDemo01">
         <a class="navbar-brand" href="index.html">
          <h2 class="text-logo text-capitalize mytext">TES<span class="text-color ">TY</span>ANTRA</h2>
        </a>  
        
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a routerLink="template-driven-form" class="nav-link">Tdf Forms</a>
            </li>
            <li class="nav-item">
                <a routerLink="reactive-form" class="nav-link">Reactive Forms</a>
            </li>
        </ul>
    </div>
</nav>

