.text-logo {
    /* color: #fff!important; */
    color: white;
    font-size: 25px;
  }
  .text-color {
    color: #ff9800;
  }
  .new-bg {
    background-color: #263248;
  }
  .mybtn {
    color: white !important;
    border-color: #da8405;
    font-weight: 500;

}
.mybtn:hover  {
    background-color: white !important;
    color:black !important;
}
.dropdown-menu {
  
  margin-top: 12px !important;
}
  
.btn {
  padding: 5px 8px !important;
  font-size: 13px !important;
}


.dropdown-toggle::after {
    display: none !important;
    width: 0;
    height: 0;
    margin-left: em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}