.zdepth-1 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.form-group{
  position: relative !important;
  margin-top: 25px !important;
}
.user-input-wrp {
  position: relative !important;
  margin-top: 45px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none !important;
    border: none !important;
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: none !important;
    border-radius: 0% !important;   
}
.floating-label {
  position: absolute;
  pointer-events: none;
  top: -5px;
  left: 0px;
  transition: 0.2s ease all;
  
}

.form-group input:focus~.floating-label, .form-group input:not(:focus):valid~.floating-label {
  top: -20px;
  left: 0px;
  font-size: 13px;
  opacity: 1; 
}
input:focus,textarea:focus {
  border-bottom: 2px solid #212529 !important;
  transition: 0.2s ease-in;
}
.form-group textarea:focus~.floating-label, .form-group textarea:not(:focus):valid~.floating-label{
  top: -30px;
  left: 0px;
  font-size: 13px;
  opacity: 1;
}
.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  /* background: none; */
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top:25px;
}
.form-control.is-invalid {
  border-color: #dc3545 !important;
  background-image: none;
  border-bottom:1px solid #dc3545 !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: ;
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.form-control.is-valid, .was-validated .form-control:valid {
  border-color: #212529 !important;
  padding-right: calc(1.5em + .75rem);
  background-image: none !important;
  background-repeat: no-repeat !important;
  background-position: right calc(.375em + .1875rem) center !important;
  background-size: calc(.5em + .325rem) calc(.75em + .375rem) !important;
}

 