<div class="container mt-4  zdepth-1" style="margin-bottom: 100px !important;padding: 20px;">
    <form #userForm='ngForm'(ngSubmit)='onsubmit(userForm)' autocomplete="off">
        <div class="row ">
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="text" name="firstName" #firstName='ngModel' ngModel class="form-control" required [class.is-invalid]='firstName.invalid && firstName.touched'>
                    <label class="floating-label">First name*</label>
                    <small class="text-danger" *ngIf='firstName.invalid && firstName.touched'>This field should be Required*</small>
                </div>
            </div>
            
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="text" name="lastName" #lastName='ngModel' ngModel class="form-control" required [class.is-invalid]='lastName.invalid && lastName.touched'>
                    <label class="floating-label">Last name:</label>
                    <small class="text-danger" *ngIf='lastName.invalid && lastName.touched'>This field should be Required*</small>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="email" name="email" #email='ngModel' ngModel class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                    <label class="floating-label">Email:</label>
                    <div *ngIf="email.touched && email.invalid">
                        <small class="text-danger" *ngIf="email.errors.required">Email is  required</small>
                        <small class="text-danger" *ngIf="email.errors.pattern">Email is Not valid</small>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="tel" name="phone" #phone='ngModel' ngModel class="form-control" required pattern="^(\+\d{1,2}\s?)?1?\-?\.?\s?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$">
                    <label class="floating-label">Phone:</label>
                    <div *ngIf="phone.invalid && phone.touched">
                        <small class="text-danger" *ngIf="phone.errors.required">Phone Number is Required</small>
                        <small class="text-danger" *ngIf="phone.errors.pattern">Phone Number must be 10 digits</small>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col col-md-12">
                <div class="form-group user-input-wrp">
                    <textarea name="comment" #comment='ngModel' ngModel  cols="20" rows="4" class="form-control" required></textarea>
                    <label class="floating-label">About yourself...</label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col col-md-4">
                <div class="form-group">
                    <input type="text" name="city" #city='ngModel' ngModel class="form-control" required>
                    <label class="floating-label">City</label>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="form-group">
                    <input type="text" name="state" #state='ngModel' ngModel class="form-control" required>
                    <label class="floating-label">State</label>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="form-group">
                    <input type="text" name="pincode" #pincode='ngModel' ngModel class="form-control" required>
                    <label class="floating-label">Pincode</label>
                </div>
            </div>  
        </div>
        <div class="row mt-3">
            <div class="col col-md-4">
                <select class="custom-select form-control" #interst="ngModel" name="interst" ngModel required >
                    <option *ngFor="let topic of topics" >{{topic}}</option>
                  </select>
            </div>
            <div class="col col-md-4">
                <div class="form-group">
                    <input type="text" name="qualification" #qualification='ngModel' ngModel  class="form-control" required>
                    <label class="floating-label">Qualifications</label>
                </div>  
            </div>
            <div class="col col-md-4">
                <div class="form-group">
                    <input type="text" name="alternateNumber" #alternateNumber='ngModel' ngModel  class="form-control" required>
                    <label class="floating-label">Alternate Number</label>
                </div>  
            </div>           
        </div> 
        <div class="row">
            <div class="col col-md-12">
                <button type="submit" class="btn btn-primary float-right">submit</button>
            </div>
        </div>  
    </form>
</div>